
<h3><%= @room.room_name%></h3>
<% if user_signed_in? %>
  <%= form_with model: @message ,url: chatroom_messages_path do |f| %>
    <%= f.text_field :text %>
    <%= f.submit '送信' %>
  <% end %>

  <div id='messages'>
    <% @messages.reverse_each do |message| %>
      <p><%= message.user.name %><%= message.text%></p> 
    <% end %>
  </div>
  
<% else %>
  <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
  <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
<% end %>
  <% breadcrumb :chatroom %>
