<% @post ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@post) %>">
    <strong id="following" class="stat">
      <%= @post.user.followings.count %>
    </strong>
    フォローしている人
  </a>
  <a href="<%= followers_user_path(@post) %>">
    <strong id="followers" class="stat">
      <%= @post.user.followers.count %>
    </strong>
    フォロ-されている人
  </a>
</div>
<p><%= link_to "トップページへ戻る", root_path %></p>
