<div class='main'>
  <div class='item-contents'>
     <h3 class='list2'>マイページ</h3>
   <ul class='item-lists'>
      <% @posts.each do|post|%>
        <%= link_to myroom_path(post.id) do %>
          <li class='list'>
            <p>
              <strong>name:</strong>
              <%= post.user.name %>
            </p>
            <p>
              <strong>Title:</strong>
              <%= post.title %>
            </p>
            <p>
              <strong>Text:</strong>
              <%= post.text %>
            </p>
                 <strong>Category:</strong>
              <%= post.category.name %>
            </p>
            <div class='item-img-content'>
              <p>
                <strong>Image:</strong>
                <%= image_tag(post.image, class: "item-img") %>
              </p>
            </div>
          </li>
        <% end %>
      <% end %>
   </ul>
  </div>
  <%= link_to '新規投稿ページ', new_myroom_path, class: "subtitle"%>
</div>
<%= link_to "トップページへ戻る", root_path %>