<h2>マイルームshow</h2>
<h1><%= @post.user.name  %>さんの投稿</h1>
<p>
<% if user_signed_in? %>
  <% unless current_user.id == @post.id %>
  <%= render 'users/follow_form' %>
<% end %>
</p>
<section class="stats">
  <%= render 'stats_third' %>
</section>
    <ul class='item-lists'>
      <li class='list'>
        <div class='item-img-content'>
          <% @posts.each do |post| %>
            <%= link_to user_path(post.id) do %>
              <% post.images.each do |image| %>
                <%= image_tag(image, class: "item-img") %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </li>
    </ul>
    <% if user_signed_in? %>
      <% if current_user.id == @post.user.id %>
        <%= link_to "投稿の編集", edit_myroom_path,remote: true, method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", myroom_path, method: :delete, class:"item-destroy" %>
      <% end %>
    <% end %>
<p><%= link_to "戻る", root_path %></p>