<h1>マイページ</h1>
<%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
  <%= render 'users/stats' %>
  <%= link_to '新規投稿', new_myroom_path, class: "subtitle"%>
  <%= link_to 'ユーザー編集', edit_user_registration_path, class: "subtitle"%>
  <%= link_to "チャットルーム新規作成", new_chatroom_path, class: "subtitle"%>

<div class='main'>
  <div class='item-contents'>
    <h3 class='list2'>投稿一覧</h3>
    <ul class='item-lists'>
       <% @posts.each do|post|%>
         <%= link_to  user_path(post.id) do %>
           <li class='list'>
             <p><h6>name:<%= post.user.nickname %></h6>
             </p>
             <p><h6>Title:<%= post.title %></h6>
             </p>
             <p><h6>Text:<%= post.text %></h6>
             </p>
             <p><h6>Category:<%= post.category.name %></h6>
             </p>
             <div class='item-img-content'>
               <p><%= image_tag(post.image, class: "item-img") %>
               </p>
             </div>
           </li>
         <% end %>
       <% end %>
    </ul>
  </div>
</div>
<p><%= link_to "トップページへ戻る", root_path %></p>
<div class='wrapper'>
  <div class='side-bar'>
    <%= render "chatrooms/side_bar" %>
  </div>
</div>
<%= render "event" %>
