<%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%# <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %> %>
  <%= form.collection_select(:keyword, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class='item-contents'>
  <h3 class='list2'>検索結果</h3>
  <ul class='item-lists'>
    <% @posts.each do |post| %>
      <%if post.youtube_url.present?%>
        <iframe src="https://www.youtube.com/embed/<%= post.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <% end %>
      <% post.images.each do |image| %>
        <%= link_to user_path(post.id) do %>
          <%= image_tag(image, class: "item-img") %>
          <%# <%= render partial: "post", locals: { post: post } %> 
        <%end%>
      <%end%>
    <% end %>
  </ul>
</div>
<% breadcrumb :search %>
