<%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class='item-contents'>
    <h3 class='list2'>検索結果</h3>
    <ul class='item-lists'>
  <% @posts.each do |post| %>
    <%= render partial: "post", locals: { post: post } %>
  <% end %>
</div>
    <p><%= link_to "トップページへ戻る", root_path %></p>
