<!DOCTYPE html>
<html>
  <head>
    <title>Space777</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">
    
  </head>

  <body>
      <h3><%= @room.room_name%></h3>
    <% if user_signed_in? %>
      <%= form_with model: @message ,url: chatroom_messages_path do |f| %>
        <%= f.text_field :text %>
        <%= f.submit '送信' %>
      <% end %>

      <div id='messages'>
        <% @messages.reverse_each do |message| %>
          <p><%= message.user.name %><%= message.text%></p> 
        <% end %>
      </div>

      <%= link_to ""%>
      <li><%= link_to "マイページへ戻る", myroom_post_path(current_user.id), class: "user-nickname" %></li>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
  </body>
</html>